<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Models\ResponseAsyncStatus;

class AsyncProcessingController extends BaseController
{
    /**
     * Retrieve the current status for a particular code.
     *
     * @param string $statusCode A [UUID v4](https://datatracker.ietf.org/doc/html/rfc4122) that's
     *        unique for the Async Request
     *
     * @return ResponseAsyncStatus Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function statusCheck(string $statusCode): ResponseAsyncStatus
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/async/status/{status_code}')
            ->auth('global')
            ->parameters(TemplateParam::init('status_code', $statusCode));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseAsyncStatus::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
