<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Exceptions\Response412Exception;
use FortisAPILib\Models\Expand5Enum;
use FortisAPILib\Models\Filter2;
use FortisAPILib\Models\Page;
use FortisAPILib\Models\ResponseAsyncProcessing;
use FortisAPILib\Models\ResponseDeviceTerm;
use FortisAPILib\Models\ResponseDeviceTermsCollection;
use FortisAPILib\Models\Sort18;
use FortisAPILib\Models\V1DeviceTermsRequest;

class DeviceTermsController extends BaseController
{
    /**
     * Create a new device term
     *
     * @param V1DeviceTermsRequest $body
     *
     * @return ResponseAsyncProcessing Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewDeviceTerm(V1DeviceTermsRequest $body): ResponseAsyncProcessing
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/device-terms')
            ->auth('global')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseAsyncProcessing::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * List all device terms related
     *
     * @param Page|null $page Use this field to specify paginate your results, by using page size
     *        and number. You can use one of the following methods:
     *        >/endpoint?page={ "number": 1, "size": 50 }
     *        >
     *        >/endpoint?page[number]=1&page[size]=50
     *        >
     * @param Sort18|null $sort You can use any `field_name` from this endpoint results, and you can
     *        combine more than one field for more complex sorting. You can use one of the
     *        following methods:
     *        >/endpoint?sort={ "field_name": "asc", "field_name2": "desc" }
     *        >
     *        >/endpoint?sort[field_name]=asc&sort[field_name2]=desc
     *        >
     * @param Filter2|null $filter You can use any `field_name` from this endpoint results as a
     *        filter, and you can also use more than one field to create AND conditions. For date
     *        fields (ended with `_ts`), you can also search for ranges using the `$gte` (Greater
     *        than or equal to) and/or  `$lte` (Lower than or equal to). You can use one of the
     *        following methods:
     *        >/endpoint?filter={ "field_name": "Value" }
     *        >
     *        >/endpoint?filter[field_name]=Value
     *        >
     *        >/endpoint?filter={ "created_ts": "today" }
     *        >
     *        >/endpoint?filter[created_ts]=today
     *        >
     *        >/endpoint?filter={ "created_ts": { "$gte": "yesterday", "$lte": "today" } }
     *        >
     *        >/endpoint?filter[created_ts][$gte]=yesterday&filter[created_ts][$lte]=today
     *        >
     *        >/endpoint?filter[address][city]=memphis
     *        >
     *        >/endpoint?filter={ "address": { "city" : "memphis" } }
     *        >
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseDeviceTermsCollection Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listAllDeviceTermsRelated(
        ?Page $page = null,
        ?Sort18 $sort = null,
        ?Filter2 $filter = null,
        ?array $expand = null
    ): ResponseDeviceTermsCollection {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/device-terms')
            ->auth('global')
            ->parameters(
                QueryParam::init('page', $page),
                QueryParam::init('sort', $sort),
                QueryParam::init('filter', $filter),
                QueryParam::init('expand', $expand)->serializeBy([Expand5Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseDeviceTermsCollection::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * View single device term record
     *
     * @param string $deviceTermsId Device term ID
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseDeviceTerm Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function viewSingleDeviceTermRecord(string $deviceTermsId, ?array $expand = null): ResponseDeviceTerm
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/device-terms/{device_terms_id}')
            ->auth('global')
            ->parameters(
                TemplateParam::init('device_terms_id', $deviceTermsId),
                QueryParam::init('expand', $expand)->serializeBy([Expand5Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseDeviceTerm::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
