<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Exceptions\Response412Exception;
use FortisAPILib\Models\ResponseTicketIntention;
use FortisAPILib\Models\ResponseTransactionIntention;
use FortisAPILib\Models\V1ElementsTicketIntentionRequest;
use FortisAPILib\Models\V1ElementsTransactionIntentionRequest;

class ElementsController extends BaseController
{
    /**
     * Elements uses a `TicketIntention` object to represent your intent to tokenize credit card
     * information from a customer.
     *
     * @param V1ElementsTicketIntentionRequest $body
     *
     * @return ResponseTicketIntention Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function ticketIntention(V1ElementsTicketIntentionRequest $body): ResponseTicketIntention
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/elements/ticket/intention')
            ->auth('global')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseTicketIntention::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Elements uses a `TransactionIntention` object to represent your intent to collect payment from a
     * customer, tracking charge attempts and payment state changes throughout the process.
     *
     * @param V1ElementsTransactionIntentionRequest $body
     *
     * @return ResponseTransactionIntention Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function transactionIntention(V1ElementsTransactionIntentionRequest $body): ResponseTransactionIntention
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/elements/transaction/intention')
            ->auth('global')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseTransactionIntention::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
