<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Exceptions\Response412Exception;
use FortisAPILib\Models\Expand11Enum;
use FortisAPILib\Models\Expand12Enum;
use FortisAPILib\Models\Filter5;
use FortisAPILib\Models\Page;
use FortisAPILib\Models\ResponsePaylink;
use FortisAPILib\Models\ResponsePaylinksCollection;
use FortisAPILib\Models\Sort21;
use FortisAPILib\Models\V1PaylinksRequest;
use FortisAPILib\Models\V1PaylinksRequest1;

class PaylinksController extends BaseController
{
    /**
     * Create a new Paylink
     *
     * @param V1PaylinksRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponsePaylink Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewPaylink(V1PaylinksRequest $body, ?array $expand = null): ResponsePaylink
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/paylinks')
            ->auth('global')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand11Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponsePaylink::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * List all Paylinks
     *
     * @param Page|null $page Use this field to specify paginate your results, by using page size
     *        and number. You can use one of the following methods:
     *        >/endpoint?page={ "number": 1, "size": 50 }
     *        >
     *        >/endpoint?page[number]=1&page[size]=50
     *        >
     * @param Sort21|null $sort You can use any `field_name` from this endpoint results, and you can
     *        combine more than one field for more complex sorting. You can use one of the
     *        following methods:
     *        >/endpoint?sort={ "field_name": "asc", "field_name2": "desc" }
     *        >
     *        >/endpoint?sort[field_name]=asc&sort[field_name2]=desc
     *        >
     * @param Filter5|null $filter You can use any `field_name` from this endpoint results as a
     *        filter, and you can also use more than one field to create AND conditions. For date
     *        fields (ended with `_ts`), you can also search for ranges using the `$gte` (Greater
     *        than or equal to) and/or  `$lte` (Lower than or equal to). You can use one of the
     *        following methods:
     *        >/endpoint?filter={ "field_name": "Value" }
     *        >
     *        >/endpoint?filter[field_name]=Value
     *        >
     *        >/endpoint?filter={ "created_ts": "today" }
     *        >
     *        >/endpoint?filter[created_ts]=today
     *        >
     *        >/endpoint?filter={ "created_ts": { "$gte": "yesterday", "$lte": "today" } }
     *        >
     *        >/endpoint?filter[created_ts][$gte]=yesterday&filter[created_ts][$lte]=today
     *        >
     *        >/endpoint?filter[address][city]=memphis
     *        >
     *        >/endpoint?filter={ "address": { "city" : "memphis" } }
     *        >
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponsePaylinksCollection Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listAllPaylinks(
        ?Page $page = null,
        ?Sort21 $sort = null,
        ?Filter5 $filter = null,
        ?array $expand = null
    ): ResponsePaylinksCollection {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/paylinks')
            ->auth('global')
            ->parameters(
                QueryParam::init('page', $page),
                QueryParam::init('sort', $sort),
                QueryParam::init('filter', $filter),
                QueryParam::init('expand', $expand)->serializeBy([Expand12Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponsePaylinksCollection::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete Paylink
     *
     * @param string $paylinkId Paylink Id
     *
     * @return ResponsePaylink Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deletePaylink(string $paylinkId): ResponsePaylink
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/paylinks/{paylink_id}')
            ->auth('global')
            ->parameters(TemplateParam::init('paylink_id', $paylinkId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponsePaylink::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * View Single Paylink
     *
     * @param string $paylinkId Paylink Id
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponsePaylink Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function viewSinglePaylink(string $paylinkId, ?array $expand = null): ResponsePaylink
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/paylinks/{paylink_id}')
            ->auth('global')
            ->parameters(
                TemplateParam::init('paylink_id', $paylinkId),
                QueryParam::init('expand', $expand)->serializeBy([Expand12Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponsePaylink::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update Paylink
     *
     * @param string $paylinkId Paylink Id
     * @param V1PaylinksRequest1 $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponsePaylink Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updatePaylink(string $paylinkId, V1PaylinksRequest1 $body, ?array $expand = null): ResponsePaylink
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/paylinks/{paylink_id}')
            ->auth('global')
            ->parameters(
                TemplateParam::init('paylink_id', $paylinkId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand11Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponsePaylink::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resend Paylink
     *
     * @param string $paylinkId Paylink Id
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponsePaylink Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function resendPaylink(string $paylinkId, ?array $expand = null): ResponsePaylink
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v1/paylinks/{paylink_id}/resend')
            ->auth('global')
            ->parameters(
                TemplateParam::init('paylink_id', $paylinkId),
                QueryParam::init('expand', $expand)->serializeBy([Expand11Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponsePaylink::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
