<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Exceptions\Response412Exception;
use FortisAPILib\Models\Expand20Enum;
use FortisAPILib\Models\Filter7;
use FortisAPILib\Models\Page;
use FortisAPILib\Models\ResponseRecurring;
use FortisAPILib\Models\ResponseRecurringsCollection;
use FortisAPILib\Models\Sort23;
use FortisAPILib\Models\V1RecurringsDeferPaymentRequest;
use FortisAPILib\Models\V1RecurringsRequest;
use FortisAPILib\Models\V1RecurringsRequest1;
use FortisAPILib\Models\V1RecurringsSkipPaymentRequest;

class RecurringController extends BaseController
{
    /**
     * Create a new recurring record
     *
     * @param V1RecurringsRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseRecurring Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewRecurringRecord(V1RecurringsRequest $body, ?array $expand = null): ResponseRecurring
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/recurrings')
            ->auth('global')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand20Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseRecurring::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * List all recurring record
     *
     * @param Page|null $page Use this field to specify paginate your results, by using page size
     *        and number. You can use one of the following methods:
     *        >/endpoint?page={ "number": 1, "size": 50 }
     *        >
     *        >/endpoint?page[number]=1&page[size]=50
     *        >
     * @param Sort23|null $sort You can use any `field_name` from this endpoint results, and you can
     *        combine more than one field for more complex sorting. You can use one of the
     *        following methods:
     *        >/endpoint?sort={ "field_name": "asc", "field_name2": "desc" }
     *        >
     *        >/endpoint?sort[field_name]=asc&sort[field_name2]=desc
     *        >
     * @param Filter7|null $filter You can use any `field_name` from this endpoint results as a
     *        filter, and you can also use more than one field to create AND conditions. For date
     *        fields (ended with `_ts`), you can also search for ranges using the `$gte` (Greater
     *        than or equal to) and/or  `$lte` (Lower than or equal to). You can use one of the
     *        following methods:
     *        >/endpoint?filter={ "field_name": "Value" }
     *        >
     *        >/endpoint?filter[field_name]=Value
     *        >
     *        >/endpoint?filter={ "created_ts": "today" }
     *        >
     *        >/endpoint?filter[created_ts]=today
     *        >
     *        >/endpoint?filter={ "created_ts": { "$gte": "yesterday", "$lte": "today" } }
     *        >
     *        >/endpoint?filter[created_ts][$gte]=yesterday&filter[created_ts][$lte]=today
     *        >
     *        >/endpoint?filter[address][city]=memphis
     *        >
     *        >/endpoint?filter={ "address": { "city" : "memphis" } }
     *        >
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseRecurringsCollection Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listAllRecurringRecord(
        ?Page $page = null,
        ?Sort23 $sort = null,
        ?Filter7 $filter = null,
        ?array $expand = null
    ): ResponseRecurringsCollection {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/recurrings')
            ->auth('global')
            ->parameters(
                QueryParam::init('page', $page),
                QueryParam::init('sort', $sort),
                QueryParam::init('filter', $filter),
                QueryParam::init('expand', $expand)->serializeBy([Expand20Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseRecurringsCollection::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete recurring record
     *
     * @param string $recurringId Recurring ID
     *
     * @return ResponseRecurring Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteRecurringRecord(string $recurringId): ResponseRecurring
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/recurrings/{recurring_id}')
            ->auth('global')
            ->parameters(TemplateParam::init('recurring_id', $recurringId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseRecurring::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * View single recurring record
     *
     * @param string $recurringId Recurring ID
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseRecurring Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function viewSingleRecurringRecord(string $recurringId, ?array $expand = null): ResponseRecurring
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/recurrings/{recurring_id}')
            ->auth('global')
            ->parameters(
                TemplateParam::init('recurring_id', $recurringId),
                QueryParam::init('expand', $expand)->serializeBy([Expand20Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseRecurring::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update recurring payment
     *
     * @param string $recurringId Recurring ID
     * @param V1RecurringsRequest1 $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseRecurring Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateRecurringPayment(
        string $recurringId,
        V1RecurringsRequest1 $body,
        ?array $expand = null
    ): ResponseRecurring {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/recurrings/{recurring_id}')
            ->auth('global')
            ->parameters(
                TemplateParam::init('recurring_id', $recurringId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand20Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseRecurring::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Activate recurring payment
     *
     * @param string $recurringId Recurring ID
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseRecurring Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function activateRecurringPayment(string $recurringId, ?array $expand = null): ResponseRecurring
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v1/recurrings/{recurring_id}/activate')
            ->auth('global')
            ->parameters(
                TemplateParam::init('recurring_id', $recurringId),
                QueryParam::init('expand', $expand)->serializeBy([Expand20Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseRecurring::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Defer recurring payment
     *
     * @param string $recurringId Recurring ID
     * @param V1RecurringsDeferPaymentRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseRecurring Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deferRecurringPayment(
        string $recurringId,
        V1RecurringsDeferPaymentRequest $body,
        ?array $expand = null
    ): ResponseRecurring {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/recurrings/{recurring_id}/defer-payment')
            ->auth('global')
            ->parameters(
                TemplateParam::init('recurring_id', $recurringId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand20Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseRecurring::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Place on hold recurring payment
     *
     * @param string $recurringId Recurring ID
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseRecurring Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function placeOnHoldRecurringPayment(string $recurringId, ?array $expand = null): ResponseRecurring
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v1/recurrings/{recurring_id}/place-on-hold')
            ->auth('global')
            ->parameters(
                TemplateParam::init('recurring_id', $recurringId),
                QueryParam::init('expand', $expand)->serializeBy([Expand20Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseRecurring::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Skip recurring payment
     *
     * @param string $recurringId Recurring ID
     * @param V1RecurringsSkipPaymentRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseRecurring Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function skipRecurringPayment(
        string $recurringId,
        V1RecurringsSkipPaymentRequest $body,
        ?array $expand = null
    ): ResponseRecurring {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/recurrings/{recurring_id}/skip-payment')
            ->auth('global')
            ->parameters(
                TemplateParam::init('recurring_id', $recurringId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand20Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseRecurring::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
