<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Exceptions\Response412Exception;
use FortisAPILib\Models\Expand41Enum;
use FortisAPILib\Models\Filter12;
use FortisAPILib\Models\Page;
use FortisAPILib\Models\ResponseToken;
use FortisAPILib\Models\ResponseTokensCollection;
use FortisAPILib\Models\Sort28;
use FortisAPILib\Models\V1TokensAchRequest;
use FortisAPILib\Models\V1TokensAchRequest1;
use FortisAPILib\Models\V1TokensCcRequest;
use FortisAPILib\Models\V1TokensCcRequest1;
use FortisAPILib\Models\V1TokensPreviousTransactionRequest;
use FortisAPILib\Models\V1TokensTerminalRequest;
use FortisAPILib\Models\V1TokensTicketRequest;

class TokensController extends BaseController
{
    /**
     * Create a new ACH Token
     *
     * @param V1TokensAchRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewACHToken(V1TokensAchRequest $body, ?array $expand = null): ResponseToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/tokens/ach')
            ->auth('global')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new Credit Card Token
     *
     * @param V1TokensCcRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewCreditCardToken(V1TokensCcRequest $body, ?array $expand = null): ResponseToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/tokens/cc')
            ->auth('global')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new Previous Transaction Token
     *
     * @param V1TokensPreviousTransactionRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewPreviousTransactionToken(
        V1TokensPreviousTransactionRequest $body,
        ?array $expand = null
    ): ResponseToken {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/tokens/previous-transaction')
            ->auth('global')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new Terminal Token
     *
     * @param V1TokensTerminalRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewTerminalToken(V1TokensTerminalRequest $body, ?array $expand = null): ResponseToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/tokens/terminal')
            ->auth('global')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new Ticket Token
     *
     * @param V1TokensTicketRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewTicketToken(V1TokensTicketRequest $body, ?array $expand = null): ResponseToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/tokens/ticket')
            ->auth('global')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a single token record
     *
     * @param string $tokenId A unique, system-generated identifier for the Token.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteASingleTokenRecord(string $tokenId): ResponseToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/tokens/{token_id}')
            ->auth('global')
            ->parameters(TemplateParam::init('token_id', $tokenId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * View single token record
     *
     * @param string $tokenId A unique, system-generated identifier for the Token.
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function viewSingleTokenRecord(string $tokenId, ?array $expand = null): ResponseToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/tokens/{token_id}')
            ->auth('global')
            ->parameters(
                TemplateParam::init('token_id', $tokenId),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * List all tokens related
     *
     * @param Page|null $page Use this field to specify paginate your results, by using page size
     *        and number. You can use one of the following methods:
     *        >/endpoint?page={ "number": 1, "size": 50 }
     *        >
     *        >/endpoint?page[number]=1&page[size]=50
     *        >
     * @param Sort28|null $sort You can use any `field_name` from this endpoint results, and you can
     *        combine more than one field for more complex sorting. You can use one of the
     *        following methods:
     *        >/endpoint?sort={ "field_name": "asc", "field_name2": "desc" }
     *        >
     *        >/endpoint?sort[field_name]=asc&sort[field_name2]=desc
     *        >
     * @param Filter12|null $filter You can use any `field_name` from this endpoint results as a
     *        filter, and you can also use more than one field to create AND conditions. For date
     *        fields (ended with `_ts`), you can also search for ranges using the `$gte` (Greater
     *        than or equal to) and/or  `$lte` (Lower than or equal to). You can use one of the
     *        following methods:
     *        >/endpoint?filter={ "field_name": "Value" }
     *        >
     *        >/endpoint?filter[field_name]=Value
     *        >
     *        >/endpoint?filter={ "created_ts": "today" }
     *        >
     *        >/endpoint?filter[created_ts]=today
     *        >
     *        >/endpoint?filter={ "created_ts": { "$gte": "yesterday", "$lte": "today" } }
     *        >
     *        >/endpoint?filter[created_ts][$gte]=yesterday&filter[created_ts][$lte]=today
     *        >
     *        >/endpoint?filter[address][city]=memphis
     *        >
     *        >/endpoint?filter={ "address": { "city" : "memphis" } }
     *        >
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseTokensCollection Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listAllTokensRelated(
        ?Page $page = null,
        ?Sort28 $sort = null,
        ?Filter12 $filter = null,
        ?array $expand = null
    ): ResponseTokensCollection {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/tokens')
            ->auth('global')
            ->parameters(
                QueryParam::init('page', $page),
                QueryParam::init('sort', $sort),
                QueryParam::init('filter', $filter),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseTokensCollection::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update ACH Token
     *
     * @param string $tokenId A unique, system-generated identifier for the Token.
     * @param V1TokensAchRequest1 $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateACHToken(string $tokenId, V1TokensAchRequest1 $body, ?array $expand = null): ResponseToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/tokens/{token_id}/ach')
            ->auth('global')
            ->parameters(
                TemplateParam::init('token_id', $tokenId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update CC Token
     *
     * @param string $tokenId A unique, system-generated identifier for the Token.
     * @param V1TokensCcRequest1 $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateCCToken(string $tokenId, V1TokensCcRequest1 $body, ?array $expand = null): ResponseToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/tokens/{token_id}/cc')
            ->auth('global')
            ->parameters(
                TemplateParam::init('token_id', $tokenId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand41Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
