<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Exceptions\Response412Exception;
use FortisAPILib\Models\Expand85Enum;
use FortisAPILib\Models\Filter15;
use FortisAPILib\Models\Page;
use FortisAPILib\Models\ResponseRemoveVerification;
use FortisAPILib\Models\ResponseSendVerification;
use FortisAPILib\Models\ResponseUser;
use FortisAPILib\Models\ResponseUserApiKey;
use FortisAPILib\Models\ResponseUsersCollection;
use FortisAPILib\Models\Sort31;
use FortisAPILib\Models\V1UsersRequest;
use FortisAPILib\Models\V1UsersRequest1;

class UsersController extends BaseController
{
    /**
     * Create a new API key
     *
     * @param string $userId User ID
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseUserApiKey Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewAPIKey(string $userId, ?array $expand = null): ResponseUserApiKey
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/users/{user_id}/api-key')
            ->auth('global')
            ->parameters(
                TemplateParam::init('user_id', $userId),
                QueryParam::init('expand', $expand)->serializeBy([Expand85Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseUserApiKey::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new user
     *
     * @param V1UsersRequest $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createANewUser(V1UsersRequest $body, ?array $expand = null): ResponseUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/users')
            ->auth('global')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand85Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * List all User
     *
     * @param Page|null $page Use this field to specify paginate your results, by using page size
     *        and number. You can use one of the following methods:
     *        >/endpoint?page={ "number": 1, "size": 50 }
     *        >
     *        >/endpoint?page[number]=1&page[size]=50
     *        >
     * @param Sort31|null $sort You can use any `field_name` from this endpoint results, and you can
     *        combine more than one field for more complex sorting. You can use one of the
     *        following methods:
     *        >/endpoint?sort={ "field_name": "asc", "field_name2": "desc" }
     *        >
     *        >/endpoint?sort[field_name]=asc&sort[field_name2]=desc
     *        >
     * @param Filter15|null $filter You can use any `field_name` from this endpoint results as a
     *        filter, and you can also use more than one field to create AND conditions. For date
     *        fields (ended with `_ts`), you can also search for ranges using the `$gte` (Greater
     *        than or equal to) and/or  `$lte` (Lower than or equal to). You can use one of the
     *        following methods:
     *        >/endpoint?filter={ "field_name": "Value" }
     *        >
     *        >/endpoint?filter[field_name]=Value
     *        >
     *        >/endpoint?filter={ "created_ts": "today" }
     *        >
     *        >/endpoint?filter[created_ts]=today
     *        >
     *        >/endpoint?filter={ "created_ts": { "$gte": "yesterday", "$lte": "today" } }
     *        >
     *        >/endpoint?filter[created_ts][$gte]=yesterday&filter[created_ts][$lte]=today
     *        >
     *        >/endpoint?filter[address][city]=memphis
     *        >
     *        >/endpoint?filter={ "address": { "city" : "memphis" } }
     *        >
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseUsersCollection Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listAllUser(
        ?Page $page = null,
        ?Sort31 $sort = null,
        ?Filter15 $filter = null,
        ?array $expand = null
    ): ResponseUsersCollection {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/users')
            ->auth('global')
            ->parameters(
                QueryParam::init('page', $page),
                QueryParam::init('sort', $sort),
                QueryParam::init('filter', $filter),
                QueryParam::init('expand', $expand)->serializeBy([Expand85Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseUsersCollection::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a user record
     *
     * @param string $userId User ID
     *
     * @return ResponseUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteAUserRecord(string $userId): ResponseUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/users/{user_id}')
            ->auth('global')
            ->parameters(TemplateParam::init('user_id', $userId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * View single user record
     *
     * @param string $userId User ID
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function viewSingleUserRecord(string $userId, ?array $expand = null): ResponseUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/users/{user_id}')
            ->auth('global')
            ->parameters(
                TemplateParam::init('user_id', $userId),
                QueryParam::init('expand', $expand)->serializeBy([Expand85Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update a user record
     *
     * @param string $userId User ID
     * @param V1UsersRequest1 $body
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateAUserRecord(string $userId, V1UsersRequest1 $body, ?array $expand = null): ResponseUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/users/{user_id}')
            ->auth('global')
            ->parameters(
                TemplateParam::init('user_id', $userId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('expand', $expand)->serializeBy([Expand85Enum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * View self record
     *
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function viewSelfRecord(?array $expand = null): ResponseUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/users/me')
            ->auth('global')
            ->parameters(QueryParam::init('expand', $expand)->serializeBy([Expand85Enum::class, 'checkValue']));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove the pending user
     *
     * @param string $userId
     *
     * @return ResponseRemoveVerification Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function removeVerification(string $userId): ResponseRemoveVerification
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/users/{user_id}/remove-verification')
            ->auth('global')
            ->parameters(TemplateParam::init('user_id', $userId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseRemoveVerification::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Send an verification email to the pending user
     *
     * @param string $userId
     *
     * @return ResponseSendVerification Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function sendVerification(string $userId): ResponseSendVerification
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/users/{user_id}/send-verification')
            ->auth('global')
            ->parameters(TemplateParam::init('user_id', $userId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseSendVerification::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
