<?php

declare(strict_types=1);

/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisAPILib\Controllers;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisAPILib\Exceptions\ApiException;
use FortisAPILib\Exceptions\Response401tokenException;
use FortisAPILib\Models\Filter14;
use FortisAPILib\Models\Page;
use FortisAPILib\Models\ResponseUserVerification;
use FortisAPILib\Models\ResponseUserVerificationsCollection;
use FortisAPILib\Models\Sort30;

class UserVerificationsController extends BaseController
{
    /**
     * Get user verification
     *
     * @param string $userVerificationId
     *
     * @return ResponseUserVerification Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getUserVerification(string $userVerificationId): ResponseUserVerification
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/user-verifications/{user_verification_id}')
            ->auth('global')
            ->parameters(TemplateParam::init('user_verification_id', $userVerificationId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseUserVerification::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * List user verifications
     *
     * @param Page|null $page Use this field to specify paginate your results, by using page size
     *        and number. You can use one of the following methods:
     *        >/endpoint?page={ "number": 1, "size": 50 }
     *        >
     *        >/endpoint?page[number]=1&page[size]=50
     *        >
     * @param Sort30|null $sort You can use any `field_name` from this endpoint results, and you can
     *        combine more than one field for more complex sorting. You can use one of the
     *        following methods:
     *        >/endpoint?sort={ "field_name": "asc", "field_name2": "desc" }
     *        >
     *        >/endpoint?sort[field_name]=asc&sort[field_name2]=desc
     *        >
     * @param Filter14|null $filter You can use any `field_name` from this endpoint results as a
     *        filter, and you can also use more than one field to create AND conditions. For date
     *        fields (ended with `_ts`), you can also search for ranges using the `$gte` (Greater
     *        than or equal to) and/or  `$lte` (Lower than or equal to). You can use one of the
     *        following methods:
     *        >/endpoint?filter={ "field_name": "Value" }
     *        >
     *        >/endpoint?filter[field_name]=Value
     *        >
     *        >/endpoint?filter={ "created_ts": "today" }
     *        >
     *        >/endpoint?filter[created_ts]=today
     *        >
     *        >/endpoint?filter={ "created_ts": { "$gte": "yesterday", "$lte": "today" } }
     *        >
     *        >/endpoint?filter[created_ts][$gte]=yesterday&filter[created_ts][$lte]=today
     *        >
     *        >/endpoint?filter[address][city]=memphis
     *        >
     *        >/endpoint?filter={ "address": { "city" : "memphis" } }
     *        >
     * @param string[]|null $expand Most endpoints in the API have a way to retrieve extra data
     *        related to the current record being retrieved. For example, if the API request is
     *        for the accountvaults endpoint, and the end user also needs to know which contact
     *        the token belongs to, this data can be returned in the accountvaults endpoint
     *        request.
     *
     * @return ResponseUserVerificationsCollection Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listUserVerifications(
        ?Page $page = null,
        ?Sort30 $sort = null,
        ?Filter14 $filter = null,
        ?array $expand = null
    ): ResponseUserVerificationsCollection {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/user-verifications')
            ->auth('global')
            ->parameters(
                QueryParam::init('page', $page),
                QueryParam::init('sort', $sort),
                QueryParam::init('filter', $filter),
                QueryParam::init('expand', $expand)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401tokenException::class))
            ->type(ResponseUserVerificationsCollection::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
